# IDE
.idea/
.vscode/
.cursor/
.python-version

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

# Jupyter
.ipynb_checkpoints

# Environment
.env
.env.local

# Hydra
.hydra/
outputs/

# DVC
/data/raw
/data/interim
/data/processed
/data/predictions
/data/source
/models/*.cbm
/models/*/*.cbm
.dvc/tmp
.dvc/cache

# MLflow
/mlruns/

# CatBoost
catboost_info/
mlflow_ui.log
mlflow_ui.pid
mlruns.backup.*

# Logs
*.log

# Documentation
/docs/_build/
/docs/_autosummary/

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.bak
*.swp
*~
/models
train_all_models.*
